<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Trail</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="top-nav test-nav">
        <div>
          <h1 class="title">Create a trail!</h1>
        </div>
        <div>
          <a href="/logout">Log Out</a>
        </div>
      </nav>
    </header>
    <div class="row-container">
      <div class="my-col">
        <div class="error-box">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
              {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <form action="/create_trail" method="POST">
          {% csrf_token %}
          <div class="form-format form-test">
            <label for="name">Trail Name</label>
            <input id="name" type="text" name="name" />
            <label for="location">Trail Location</label>
            <input id="location" type="text" name="location" />
            <label for="difficulty">Trail Difficulty</label>
            <input id="difficulty" type="text" name="difficulty" />
            <label for="distance">Trail Distance</label>
            <input id="distance" type="text" name="distance" />
            <label for="elevation_change">Trail Elevation Change</label>
            <input id="elevation_change" type="text" name="elevation_change" />
            <label for="route_type">Trail Route Type</label>
            <input id="route_type" type="text" name="route_type" />
            <label for="rating">Select a Rating</label>
            <select name="rating" id="rating">
              <option value="1">&#9733;</option>
              <option value="2">&#9733;&#9733;</option>
              <option value="3">&#9733;&#9733;&#9733;</option>
              <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
              <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
            </select>
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              cols="30"
              rows="7"
            ></textarea>
          </div>
          <a href="/trip/my_trips" class="test-but">Cancel</a>
          <button class="test-but" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
