<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Placeholder</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <div class="row-container">
      <div class="my-col">
        <div>
          <a class="test-but" href="/logout">Log Out</a>
        </div>
        <br />
        <br />
        <div>
          <a class="test-but" href="/trip/my_trips">My Trips</a>
        </div>
        <br />
        <br />
        <div>
          <a class="test-but" href="/dashboard">Home</a>
        </div>
        <br />
        <br />
        <div>
          <a class="test-but" href="/trip/new">New Trip</a>
        </div>
        <br />
        <br />
        <div>
          <a class="test-but" href="/new_trail">New Trail</a>
        </div>
        <br />
        <br />
        <div>
          <a class="test-but" href="/test">test</a>
        </div>
      </div>
    </div>
    <div class="row-container">
      <div class="my-col">
        {% for trail in all_trails %}
        <a href="/trail/detail/{{trail.id}}">{{trail.name}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row-container">
      <div class="my-col">
        <h1>trips I created</h1>
        {% for trip in this_user.trips_created.all%}
        <a href="/trip/detail/{{trip.id}}">{{trip.trip_name}}</a>
        {% for trail in trip.trails.all%}
        <p>{{trail.name}}</p>
        <br />
        <br />
        {% endfor %}
        <!--  -->
        {% endfor %}
      </div>
    </div>
    <div class="row-container">
      <div class="my-col">
        <h1>trips I joined</h1>
        {% for trip in this_user.trips_joined.all%}
        <a href="/trip/detail/{{trip.id}}">{{trip.trip_name}}</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
