<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Trails</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body class="body-detail">
    <header class="site-header">
      <h1 class="title-color">Welcome, {{this_user.first_name}}!</h1>
      <img
        src="/static/img/mount_city.jpg"
        alt="mountain city"
        height="75px"
        width="150px"
      />
      <a class="test-but" href="/dashboard">Home</a>
      <a class="test-but" href="/trip/my_trips">My Trips</a>
      <a class="test-but" href="/trip/new">New Trip</a>
      <a class="test-but" href="/new_trail">New Trail</a>
      <a class="test-but" href="/logout">Log Out</a>
    </header>

    <!-- <div class="ddb bgd ttm"> -->
    <div class="bgd ttm">
      <h1>Trail: {{this_trail.name}}</h1>
    </div>

    <!-- Trail Details with the Trail Description Box-->
    <div class="bgd">
      <p>Location: {{this_trail.location}}</p>
      <p>Difficulty: {{this_trail.difficulty}}</p>
      <p>Distance: {{this_trail.distance}}</p>
      <p>Elevation Gain {{this_trail.elevation_change}}</p>
      <p>Route Type: {{this_trail.route_type}}</p>
      <p>Rating {{this_trail.rating}}</p>
    </div>

    <!-- Trail Description Box -->
    <div class="tdb">
      <p>{{this_trail.description}}</p>
    </div>

    <!-- Comment Box -->
    <div class="cbf">
      <form class="my-col" action="/post_comment/{{message.id}}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="thisUser_id" value="{{thisUser.id}}" />
        <textarea name="comment" cols="135" rows="10"></textarea>
        <div>
          <button class="button-tc" type="submit">
            <span class="cb">Post a comment</span>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
