<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Trip</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body class="body-create-trip">
    <!-- <header class="site-header">
      <h1>
        <span style="color: #738042">Welcome, {#{{ this_user.first_name }}#}</span>
      </h1>
      <a class="test-but" href="/dashboard">Home</a>
      <a class="test-but" href="/trip/new">New Trip</a>
      <a class="test-but" href="/new_trail">New Trail</a>
      <a class="test-but" href="/logout">Log Out</a>
    </header> -->
    <header class="site-header">
      <h1 class="title-color welcome">Welcome, {{this_user.first_name}}!</h1>
      <img
        class="logo-shadow"
        src="/static/img/mount_city.jpg"
        alt="mountain city"
        height="75px"
        width="150px"
      />
      <a class="button3 button1" href="/dashboard"><span>Home</span></a>
      <a class="button3 button1" href="/trip/new"><span>New Trip</span></a>
      <a class="button3 button1" href="/new_trail"><span>New Trail</span></a>
      <a class="button3 button1" href="/logout"><span>Log Out</span></a>
    </header>
    <div class="row-container">
      <div class="my-col">
        <div class="error-box-create-trip">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
              {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <form action="/update/{{this_trip.id}}" method="POST">
          {% csrf_token %}
          <div class="form-format form-test">
            <label for="trip_name">Name of Trip: </label>
            <input
              id="trip_name"
              type="text"
              name="trip_name"
              value="{{this_trip.trip_name}}"
            />
            <label for="trail">Select a Trail: </label>
            <select name="trail" id="trail">
              {% for trail in this_trip.trails.all %}
              <option value="{{trail.id}}">{{trail.name}}</option>
              {% endfor %}
            </select>
            <label for="trip_date">Trip Date: </label>
            <input id="trip_date" type="date" name="trip_date"
            value="{{this_trip.trip_date|date:"Y-m-d"}}" />
            <label for="food_list">Food List: </label>
            <textarea id="food_list" name="food_list" cols="30" rows="7">
{{this_trip.food_list}}</textarea
            >
            <label for="gear_check">Gear Check: </label>
            <textarea id="gear_check" name="gear_check" cols="30" rows="7">
{{this_trip.gear_check}}</textarea
            >
          </div>
          <a href="/dashboard" class="test-but">Cancel</a>
          <button class="test-but" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
